.spaceTask{
  background: white;
  height: 1px;
  margin-bottom: 5px;
}

.containerInputButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.input_tasks{
  min-width: 500px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4D4D4D;
  border-radius: 6px;
  border: 2.5px solid grey;
}

.btn_edit, .btn_delete{
  width: 64px;
  height: 28px;
  border-radius: 6px;
  border: 2.5px solid grey;
  box-shadow: inset 4px 4px rgb(69, 58, 119, 0.46);
  cursor: pointer;
  font-weight: bold;
 
}
.btn_edit{ 
  background: #e0b90d; 
  margin: 0 4px 0 4px; 
  
}
.btn_delete{   
  background: red;
}