*{
    margin: 0;
    padding: 0;     
    background-color: #2C3032;
    color: white;
    font-family: sans-serif; 
}

body{
    margin: 10px;
}
.container{
   text-align: center;   
}
.container_data{
    display: flex;
    
    align-items: stretch;
    justify-content: space-around;
    gap: 26px; 
    margin-top: 28px;
}

.spaceTask{
    background: white;
    height: 1px;
    margin-bottom: 5px;
  }
